# systemd service for managing all pki certificates autoconfiguration.

[Unit]
Description=PKI Certificate Configuration Autodiscovery - %i

[Service]
Type=notify
ExecStart=/usr/bin/sequence -s daemon.info -b /usr/libexec device/autodiscovery/pki-certificates.d start %i
ExecReload=/usr/bin/sequence -s daemon.info -b /usr/libexec device/autodiscovery/pki-certificates.d reload %i
ExecStop=/usr/bin/sequence -s daemon.info -b /usr/libexec device/autodiscovery/pki-certificates.d stop %i
RemainAfterExit=on

[Install]
WantedBy=multi-user.target

