# systemd service for managing all pki certificates autoconfiguration.

[Unit]
Description=PKI Certificates Configuration Autodiscovery

[Service]
Type=notify
ExecStart=/usr/libexec/device/autodiscovery/pki-certificates start
ExecReload=/usr/libexec/device/autodiscovery/pki-certificates reload
RemainAfterExit=on

[Install]
WantedBy=multi-user.target

