# systemd service for managing all pki certificates autoconfiguration.

[Unit]
Description=PKI Certificate Configuration Autodiscovery - %i

[Service]
Type=simple
ExecStart=/bin/bash /usr/libexec/device-autodiscovery/pki-certificates start %i
ExecReload=/bin/bash /usr/libexec/device-autodiscovery/pki-certificates reload %i
ExecStop=/bin/bash /usr/libexec/device-autodiscovery/pki-certificates stop %i
RemainAfterExit=on

[Install]
WantedBy=multi-user.target

